<div class="col-md-4">
	<div class="form-group">
		<%= measure.label :talla_blusa %>
		<%= measure.text_field :talla_blusa, class: 'form-control' %>
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
		<%= measure.label :talla_pantalon %>
		<%= measure.text_field :talla_pantalon, class: 'form-control' %>
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
		<%= measure.label :talla_delantero %>
		<%= measure.text_field :talla_delantero, class: 'form-control' %>
	</div>
</div>