<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :talla_blusa %>
		<%= measure.number_field :talla_blusa, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :talla_pantalon %>
		<%= measure.number_field :talla_pantalon, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :talla_delantero %>
		<%= measure.number_field :talla_delantero, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :talle_trasero %>
		<%= measure.number_field :talle_trasero, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :espalda %>
		<%= measure.number_field :espalda, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

</div>

<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :hombro %>
		<%= measure.number_field :hombro, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :c_de_busto %>
		<%= measure.number_field :c_de_busto, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :al_de_busto %>
		<%= measure.number_field :al_de_busto, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :s_de_busto %>
		<%= measure.number_field :s_de_busto, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :m_inf_de_busto %>
		<%= measure.number_field :m_inf_de_busto, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

</div>

<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :cintura %>
		<%= measure.number_field :cintura, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :m_de_cadera %>
		<%= measure.number_field :m_de_cadera, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :l_de_manga_pecho %>
		<%= measure.number_field :l_de_manga_pecho, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :c_de_manga_pecho %>
		<%= measure.number_field :c_de_manga_pecho, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :l_de_m_corta %>
		<%= measure.number_field :l_de_m_corta, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

</div>

<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :c_de_m_corta %>
		<%= measure.number_field :c_de_m_corta, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :l_de_manga_3_4 %>
		<%= measure.number_field :l_de_manga_3_4, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :c_de_manga_3_4 %>
		<%= measure.number_field :c_de_manga_3_4, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :l_de_blusa %>
		<%= measure.number_field :l_de_blusa, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :escote %>
		<%= measure.number_field :escote, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>
	
</div>

<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :l_de_rodilla %>
		<%= measure.number_field :l_de_rodilla, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :c_de_rodilla %>
		<%= measure.number_field :c_de_rodilla, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :l_de_t %>
		<%= measure.number_field :l_de_t, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :l_total %>
		<%= measure.number_field :l_total, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>

	<div class="form-group">
		<%= measure.label :c_de_bota %>
		<%= measure.number_field :c_de_bota, class: 'form-control only-number', in: 0..999, step: 1 %>
	</div>
	
</div>

<div class="col-md-6">
	<div class="form-group">
		<%= measure.label :nota %>
		<%= measure.text_area :nota, class: 'form-control', maxlength: 300 %>
	</div>
</div>