<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :talla_blusa %>
		<%= measure.text_field :talla_blusa, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :hombro_c_de_busto %>
		<%= measure.text_field :hombro_c_de_busto, class: 'form-control only-number', maxlength: 3 %>
	</div>
	
	<div class="form-group">
		<%= measure.label :cintura_l_de_manga_pecho %>
		<%= measure.text_field :cintura_l_de_manga_pecho, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :cintura_c_de_manga_3_4 %>
		<%= measure.text_field :cintura_c_de_manga_3_4, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :escote_l_total %>
		<%= measure.text_field :escote_l_total, class: 'form-control only-number', maxlength: 3 %>
	</div>

</div>

<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :talla_pantalon %>
		<%= measure.text_field :talla_pantalon, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :hombro_al_de_busto %>
		<%= measure.text_field :hombro_al_de_busto, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :cintura_c_de_manga_pecho %>
		<%= measure.text_field :cintura_c_de_manga_pecho, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :cintura_l_de_blusa %>
		<%= measure.text_field :cintura_l_de_blusa, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :escote_c_de_bota %>
		<%= measure.text_field :escote_c_de_bota, class: 'form-control only-number', maxlength: 3 %>
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :talla_delantero %>
		<%= measure.text_field :talla_delantero, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :hombro_s_de_busto %>
		<%= measure.text_field :hombro_s_de_busto, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :cintura_l_de_m_corta %>
		<%= measure.text_field :cintura_l_de_m_corta, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :escote_l_de_rodilla %>
		<%= measure.text_field :escote_l_de_rodilla, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :nota %>
		<%= measure.text_area :nota, class: 'form-control', maxlength: 300 %>
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :talle_trasero %>
		<%= measure.text_field :talle_trasero, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :hombro_m_inf_de_busto %>
		<%= measure.text_field :hombro_m_inf_de_busto, class: 'form-control only-number', maxlength: 3 %>
	</div>
	
	<div class="form-group">
		<%= measure.label :cintura_c_de_m_corta %>
		<%= measure.text_field :cintura_c_de_m_corta, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :escote_c_de_rodilla %>
		<%= measure.text_field :escote_c_de_rodilla, class: 'form-control only-number', maxlength: 3 %>
	</div>
	
</div>

<div class="col-md-2">
	<div class="form-group">
		<%= measure.label :espalda %>
		<%= measure.text_field :espalda, class: 'form-control only-number', maxlength: 3 %>
	</div>
	
	<div class="form-group">
		<%= measure.label :cintura_m_de_cadera %>
		<%= measure.text_field :cintura_m_de_cadera, class: 'form-control only-number', maxlength: 3 %>
	</div>
	
	<div class="form-group">
		<%= measure.label :cintura_l_de_manga_3_4 %>
		<%= measure.text_field :cintura_l_de_manga_3_4, class: 'form-control only-number', maxlength: 3 %>
	</div>

	<div class="form-group">
		<%= measure.label :escote_l_de_t %>
		<%= measure.text_field :escote_l_de_t, class: 'form-control only-number', maxlength: 3 %>
	</div>
	
</div>